.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 200px;
  background-color: white;
  padding: 2em;
  padding-bottom: 0;
  transition: all 0.3s ease-in-out;
}

.card-img {
  max-width: 100%;
}
.card:hover {
  transform: scale(1.05);
}
.title {
  font-size: 1.2em;
  font-weight: bold;
  max-height: 50%;
  overflow: hidden;
  padding: 0;
}

.card > * {
  text-align: center;
}
