.container-wrap {
  margin: auto;
  padding: 5%;
}
.container {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  max-width: 100%;
  justify-content: center;
}
.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 200px;
  background-color: white;
  padding: 2em;
  padding-bottom: 0;
  transition: all 0.3s ease-in-out;
}

.card-img {
  max-width: 100%;
}
.card:hover {
  transform: scale(1.05);
}
.title {
  font-size: 1.2em;
  font-weight: bold;
  max-height: 50%;
  overflow: hidden;
}

.card > * {
  text-align: center;
}

.card h2 {
  text-align: left;
}

@media (min-width: 1000px) {
  .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2rem;
  }
}
