form {
  max-width: 300px;
  margin: auto;
  background-color: white;
  padding: 1em 4em;
  border-radius: 10px;
  display: flex;
  flex-flow: column wrap;
}

input,
textarea {
  height: 30px;
  border-radius: 10px;
  border: 2px solid var(--light-grey);
}

textarea {
  height: 80px;
}
label {
  display: block;
  margin: 10px 0 5px 0;
}

.form-error {
  color: darkred;
}

* {
  box-sizing: content-box;
}
