.film-image {
  margin: 1em auto;
}

.plot,
.description {
  margin: 1em;
  line-height: 25px;
}

.film-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 1em auto;
  background-color: white;
  border-radius: 5px;
  padding: 5%;
  gap: 2rem;
}

.plot {
  font-size: 1.5rem;
  line-height: 1.7;
}

.add-to-watch {
  display: flex;
  align-items: center;
}

.add-to-watch p {
  font-weight: bold;
}

.text-wrapper div {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.title-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: baseline;
  gap: 20px;
}
.rating {
  font-size: 2rem;
}

h2 {
  text-align: right;
}

h1 {
  margin: 0;
  font-size: 3em;
}

@media (min-width: 800px) {
  /* .film-container {
    flex-direction: row;
  } */
  .img-description-wrap {
    display: flex;
    flex-direction: row;
  }
}
