.film-image {
  margin: 1em auto;
}

.plot,
.description {
  margin: 1em;
  line-height: 25px;
}

.film-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
  margin: 1em auto;
  background-color: white;
  border-radius: 5px;
  padding: 5%;
}

.add-to-watch {
  display: flex;
  align-items: center;
}

.add-to-watch p {
  font-weight: bold;
}
