.film-image {
  margin: auto;
  /* width: 100%; */
  /* max-width: 500px; */
}

.img-description-wrap {
  display: flex;
  flex-direction: column;
}
.plot {
  margin: 1em;
  line-height: 25px;
}

.film-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1000px;
  /* margin: 2em; */
  background-color: white;
  border-radius: 5px;
  padding: 10%;
}

.plot {
  font-size: 1.5rem;
  line-height: 1.7;
}

.add-to-watch {
  display: flex;
  align-items: center;
}

.add-to-watch p {
  font-weight: bold;
}

.title-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 1.5rem;
  line-height: auto;
}
.rating {
  font-size: 2rem;
  margin: 0;
}

.description {
  text-align: center;
  line-height: 1.5rem;
}
.description h2 {
  font-size: 1.5rem;
}

.add-to-wrap {
  display: flex;
  justify-content: center;
}

.add-to-h2 {
  padding-right: 0;
}
/* h1 {
  margin: 0;
  font-size: 3em;
} */

@media (min-width: 800px) {
  .film-container {
    margin: 2rem auto;
  }
  .img-description-wrap {
    display: flex;
    flex-direction: row;
  }
  .title-wrapper {
    gap: 2rem;
  }
  .text-wrapper div {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
  .film-image {
    margin-right: 2rem;
  }
  .description {
    text-align: left;
  }
}
