/* .filter-wrap,
.new-search-wrap { */
.filter-box {
  border: 1px solid black;
  margin: 2rem;
  padding: 0 1rem;
}

.hidden {
  display: none;
  flex-direction: column;
}

.filter-label {
  margin-top: 1rem;
  margin-right: 1rem;
}
.sorts,
.filters {
  display: flex;
  padding: 1rem;
  flex-direction: column;
  max-width: 100%;
  flex-wrap: wrap;
}
.filters {
  padding-top: 0;
}
.new-search-field {
  padding: 1rem;
  flex-direction: column;
  max-width: 100%;
  flex-wrap: wrap;
  padding-top: 0%;
}

.sorts {
  /* display: flex;
  flex-direction: row;
  justify-content: center; */

  border-top: 1px solid var(--black);
}

select {
  height: 2rem;
}

#filter-year,
#filter-input {
  flex: 1;
}
/* .input-text,
#genre-select {
  padding: 0 1rem;
} */
/* .search-btn {
  margin: 1rem auto;
  padding: 1rem 2rem;
} */
.filter-wrap h2,
.new-search-wrap h2 {
  text-align: left;
}

.h2-wrap {
  display: flex;
}
@media (min-width: 800px) {
  /* .filters, */
  .new-search-field {
    flex-direction: row;
    gap: 1rem;
    justify-content: left;
  }
  .filters {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .filter-label {
    margin-top: 0;
  }
  .by-year,
  .by-title {
    display: flex;
    gap: 1rem;
    align-items: center;
  }
  /* .filter-wrap,
  .new-search-wrap { */
  .filter-box {
    margin: 2rem 10%;
  }
  .sorts {
    flex-direction: row;
  }
}
