header {
  margin: 0 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.logo {
  font-size: 3rem;
}

nav a {
  font-weight: bold;
  padding: 10px;
}

nav a:hover {
  font-style: italic;
}
nav {
  display: none;
  flex-direction: column;
  font-size: 1.2em;
  position: absolute;
  top: 60px;
  right: -25px;
  background-color: #fff;
  padding: 10px;
  width: max-content;
}

.current {
  text-decoration: underline;
}

.header-icons {
  display: flex;
  position: relative;
  /* transition: all 1s ease-in-out; */
}
.header-search {
  display: none;
  width: 100vw;
  align-items: center;
  justify-content: center;
  position: absolute;
  padding: 5% 0%;
  top: 60px;
  background-color: #fff;
  transition: all 0.5s ease-in-out;
}
@media (min-width: 1000px) {
  .header-search {
    justify-content: center;
    top: 100px;
  }
  .logo {
    font-size: 5rem;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    max-width: 80%;
  }
  nav {
    display: flex;
    flex-direction: row;
    position: initial;
  }
}
