.sort-box {
  display: flex;
  padding: 1rem;
  /* gap: 1rem; */
  flex-direction: column;
  /* justify-content: space-around; */
}
select {
  height: 2rem;
}

.input-text,
#genre-select {
  padding: 0 1rem;
}
.search-btn {
  margin: 1rem auto;
  padding: 1rem 2rem;
}

.filter h2 {
  text-align: left;
}

.filter {
  border: 1px solid black;
  margin: 2rem;
}

@media (min-width: 800px) {
  .sort-box {
    flex-direction: row;
    gap: 1rem;
    justify-content: left;
  }
  .search-btn {
    margin: 0;
  }
}
