.error,
.success,
.neutral {
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  margin: 1em auto;
  padding: 1em;
  border-radius: 5px;
}

.error {
  color: darkred;
  border: darkred 2px solid;
  background: rgb(249, 217, 217);
}
.success {
  color: darkgreen;
  border: green solid 2px;
  background: rgb(222, 248, 222);
}

.neutral {
  border: var(--black) solid 2px;
  background: white;
}

.user-message {
  margin-left: 20px;
  max-width: 400px;
  margin: auto;
}
.fa-spinner {
  margin: auto;
  font-size: 4em;
  color: grey;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.fa-circle-plus,
.fa-circle-minus {
  font-size: 2em;
  color: var(--black);
  background: none;
  padding: 0;
  border-radius: 50%;
  margin: 10px;
}

.fa-circle-plus:hover,
.fa-circle-minus:hover {
  color: grey;
  background-color: white;
}

.fa-circle-minus {
  color: rgb(245, 198, 112);
}
