.welcome {
  background-image: url("../../img/gr-stocks-q8P8YoR6erg-unsplash.webp");
  background-size: cover;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.search-wrapper {
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  margin: 30% auto;
}

.search {
  align-items: center;
  margin: 0 auto;
}
.search label {
  font-size: 1.2em;
  align-self: flex-start;
}

#search-button {
  margin: 0;
  color: var(--black);
  background: none;
  font-size: 2rem;
  padding: 0 0.5rem;
}
#search {
  display: flex;
  align-items: center;
  border: 2px solid var(--black);
  height: 2em;
  border-radius: 5px;
  /* padding: 5px; */
  max-width: 100%;
}

.search-wrap {
  display: flex;
  justify-content: end;
}

@media (min-width: 1500px) {
  .search-wrapper {
    margin-top: 20%;
    margin-right: 0;
    width: 50%;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: none;
  }

  .welcome {
    background-image: url("../../img/gr-stocks-q8P8YoR6erg-unsplash.webp");
    background-size: cover;
    max-width: 1800px;
    width: 100%;
    margin: 0 auto;
  }
}
